<section class="container-fluid my-3 custRow">
  <my-tabs #staticTabs>
    <my-tab tabTitle="Description" [tabId]="BACS_AUDDIS_DESCRIPTION_REPORT">
      <div class="whiteBg tabContent">
        <form class="form-control" name="form" #f="ngForm" ngNativeValidate>
          <div class="col-12">
            <div class="border m-1 p-2 pt-4">
              <fieldset>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="user">Main Purpose</label>
                      <input type="text" class="form-control" placeholder="BACS AUDDIS">
                    </div>
                  </div>
                  <!-- <div class="col-md-4">
                  <div class="form-group">
                    <label for="user">ID</label>
                    <input type="text" class="form-control" placeholder=" ">
                  </div>
                </div> -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="user">Description
                        <span class="mandatory">*</span>
                      </label>
                      <input class="form-control" [(ngModel)]="description1" #description name="description1" id="description" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group ">
                      <label for="user">Default Priority</label>
                      <input type="text" class="form-control" placeholder=" ">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="user">Default Queue</label>
                      <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting">
                      </app-dropdown-with-description>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="user">Auddis Type</label>
                      <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting1">
                      </app-dropdown-with-description>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-check form-check-inline">
                      <label class="custom-control custom-checkbox ">
                        <input type="checkbox" class="custom-control-input">
                          
                        <span class="  custom-control-label">Active</span>
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-12">
              <div class="border m-1 p-2 pt-4">
                <fieldset>
                  <legend class="text-uppercase">Order Class (es) Included</legend>
                  <div class="row justify-content-between align-items-center ">
                    <div class="col-md-6 ">
                      <div class="d-flex flex-row align-items-center ">
                        <div class="p-2 ">OC Filter</div>
                        <div class="col-3 p-2">
                          <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting2">
                          </app-dropdown-with-description>
                        </div>
                        <div class="pt-3 ">
                          <div class="form-check form-check-inline">
                            <label class="custom-control custom-checkbox mr-0">
                              <input type="checkbox" class="custom-control-input">
                                
                              <span class="  custom-control-label">Include All OC's</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="d-flex flex-row-reverse align-items-center ">
                        <div class=" col-3 p-2 ">
                          <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting1" (change)="setFilterModel($event)">
                          </app-dropdown-with-description>
                        </div>
                        <div class="p-2 ">Show :</div>
                      </div>
                      <div class="clearfix "></div>
                    </div>
                  </div>
                  <div class="agGridSize">
                    <app-ag-grid [name]="'BacsAuddisReports'" [myGridOptions]="gridOptionsReports" (myGridReady)="doOnGridReadyBacsReports($event)"></app-ag-grid>
                  </div>
                </fieldset>

              </div>

            </div>
          </div>
        </form>
        <app-process-edit-footer [form]="f" (onDoSave)=doOnSave($event)></app-process-edit-footer>

      </div>
    </my-tab>

    <my-tab tabTitle="Installment" [tabId]="BACS_AUDDIS_INSTALLMENT_REPORT">
      <div class="whiteBg tabContent">
        <div class="row">
          <div class="col-12">
            <div class="border m-1 p-2 pt-4">
              <fieldset>
                <legend class="text-uppercase">Installment Plans</legend>
                <div class="row justify-content-between align-items-center ">
                  <div class="col-md-12 ">
                  </div>
                </div>
                <div class="form-check form-check-inline">
                  <label class="custom-control custom-checkbox ">
                    <input type="checkbox" class="custom-control-input">
                      
                    <span class="  custom-control-label">Include All</span>
                  </label>
                </div>
                <div class="agGridSize">
                  <app-ag-grid [name]="'BacsAuddisInstallmentReports'" (myGridReady)="doOnGridReadyBacsInstallmentReports($event)"></app-ag-grid>
                </div>
              </fieldset>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12 text-right my-3">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <i class="fa fa-floppy-o"></i> Save
            </button>
            <button type="button" class="btn btn-light" data-dismiss="modal">
              <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button>
          </div>
        </div>
      </div>
    </my-tab>

    <my-tab tabTitle="Output" [tabId]="BACS_AUDDIS_OUTPUT_REPORT">
      <app-output></app-output>
    </my-tab>
  </my-tabs>
</section>
