<div class="tab-content">
  <div id="tab1" class="tab-pane fade show active ">
    <div class="whiteBg tabContent">
      <div class="row">
        <div class="col-md-8">
          <h4>Date Based Subscription</h4>
        </div>
        <!-- <div class="col-md-4 text-right">
          <a href="customer-Order.html" class="font-w600"> 
            <i class="fa fa-chevron-left"></i> Back to Order
          </a>
        </div> -->
      </div>
      <hr class="borderBtm">
      <div class="row">
        <div class=" col-sm-8 col-md-8">
          <div class="border  p-2 pt-4">
            <div class="form-row">
              <div class=" col-sm-6 col-md-12 col-lg-2">
                <label for="inputCity" class="col-form-label">Order Code</label>
              </div>
              <div class="form-group col-sm-6 col-md-6 col-lg-2">
                <input id="orderCode" name="orderCode" type="text" class="form-control" readonly="readonly" [(ngModel)]="editOrderModel.orderCode.value">
              </div>
              <div class="form-group col-sm-8 col-md-8 col-lg-8">
                <div class="input-group">
                  <!-- <input id="orderhdrId" name="orderhdrId" type="hidden" [(ngModel)]="OrderItem.orderhdrId">
                  <input id="customerId" name="customerId" type="hidden" [(ngModel)]="OrderItem.customerId">
                  <input id="orderItemType" name="orderItemType" type="hidden" [(ngModel)]="OrderItem.orderItemType"> -->
                  <input id="orderCodeDescription" name="orderCodeDescription" type="text" class="rounded form-control" readonly="readonly" [(ngModel)]="editOrderModel.orderCodeDescription.value">
                  <div class="input-group-btn">
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ordercode">
                        ...
                      </button> -->

                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class=" col-sm-6 col-md-12 col-lg-2">
                <label for="inputCity" class="col-form-label">Source Code</label>
              </div>
              <div class="form-group col-sm-6 col-md-6 col-lg-2">
                <input id="sourceCode" name="sourceCode" type="text" class="form-control" readonly="readonly" [(ngModel)]="editOrderModel.sourceCode.value">
              </div>
              <div class="form-group col-sm-8 col-md-8 col-lg-8">
                <div class="input-group">
                  <input id="sourceCodeDescription" name="sourceCodeDescription" type="text" class="rounded form-control" readonly="readonly" [(ngModel)]="editOrderModel.sourceCodeDescription.value">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" data-toggle="modal" (click)="getSourceCodeList()">
                      ...
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-sm-4 col-md-4">
          <div class="border  p-2 pt-4">
            <fieldset>
              <legend class="text-uppercase">Shipping - Delivery Method</legend>

              <div class="form-row">
                <div class="form-group col-md-12">

                  <!-- <input type="text" id="inputPassword6" class="form-control " placeholder=""> -->
                  <select id="deliveryMethod" name="deliveryMethod" class="custom-select col-md-12"></select>
                </div>
                <div class="col-md-12 form-group">
                  <div class="input-group">
                    <!-- <input id="customerAddressSeq" name="customerAddressSeq" type="hidden" [(ngModel)]="OrderItem.customerAddressSeq"> -->
                    <input id="address1" name="address1" class="form-control rounded" type="text" [(ngModel)]="editOrderModel.address1.value" readonly="readonly">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-primary ml-1 py-1" data-toggle="modal" (click)="getAddressListpopup('Shipping')">
                        ...
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class=" col-sm-4">
          <div class="border mt-2  p-2 pt-4">
            <fieldset>
              <legend class=" text-uppercase">Subscription</legend>
              <div class="form-row">
                <div class=" col-sm-6 col-md-6 col-lg-6 text-right">
                  <label for="startDate" class="col-form-label ">Start Date
                  </label>
                </div>
                <div class="form-group col-md-6">
                  <input id="startDate" name="startDate" class="form-control" type="text" [(ngModel)]="editOrderModel.startDate.value" (change)="setdate()">

                  <!-- <input type="text" name="input" [(ngModel)]="editOrderModel.startDate.value" placeholder="YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])/(?:30))|(?:(?:0[13578]|1[02])-31))"
                    title="Enter a date in this format YYYY/MM/DD" /> -->


                  <!-- <input type="date" class="form-control" id="from-input" [(ngModel)]="editOrderModel.startDate.value" [ngModelOptions]="{standalone: true}" min="01/31/2000"
                    max="12/01/2050" required> -->

                </div>

              </div>
              <div class="form-row">
                <div class=" col-sm-6 col-md-6 col-lg-6 text-right">
                  <label for="expireDate" class="col-form-label ">Expiration date
                  </label>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                  <input id="expireDate" name="expireDate" class="form-control" type="text" [(ngModel)]="editOrderModel.expireDate.value">
                </div>
              </div>
              <div class="form-row">
                <div class=" col-sm-6 col-md-6 col-lg-6 text-right">
                  <label for="orderQty" class="col-form-label ">Extended Days</label>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                  <input id="orderQty" name="orderQty" class="form-control" type="text" [(ngModel)]="editOrderModel.extendedDays.value" readonly="readonly">
                </div>
              </div>



              <div class="form-row">
                <div class=" col-sm-6 col-md-6 col-lg-6 text-right">
                  <label for="bundleQty" class="col-form-label ">Number of Copies
                    <br/>
                    <small>(per issue)</small>
                  </label>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                  <input id="bundleQty" name="bundleQty" class="form-control" type="text" [(ngModel)]="editOrderModel.bundleQty.value">
                </div>
              </div>

              <hr>
              <div class="form-row">
                <div class=" col-sm-12 col-md-12 col-lg-12">
                  <label for="subscriptionDef" class="col-form-label">Subscription Definition
                  </label>
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                  <div class="input-group">
                    <input id="subscriptionDef" name="subscriptionDef" class="form-control rounded" type="text" [(ngModel)]="editOrderModel.subscriptionDef.value"
                      readonly="readonly">
                    <div class="input-group-btn" data-toggle="modal" data-target="#subscription-definition">
                      <button type="button" class="btn btn-primary ml-1 py-1" (click)="getSubsDefListpopup()">
                        ...</button>

                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-3 col-md-3 col-lg-3 text-right">
                  <label for="termDescription" class="col-form-label ">Term</label>
                </div>
                <div class=" col-sm-9 col-md-9 col-lg-9 ">
                  <input id="termDescription" name="termDescription" class="form-control" type="text" [(ngModel)]="editOrderModel.termDescription.value" readonly="readonly">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-3 col-md-3 col-lg-3 text-right">
                  <label for="edition" class="col-form-label ">Edition</label>
                </div>
                <div class=" col-sm-9 col-md-9 col-lg-9 ">
                  <input type="text" id="edition" placeholder="" class="form-control   " [(ngModel)]="editOrderModel.edition.value" name="edition" readonly="readonly">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-3 col-md-3 col-lg-3 text-right">
                  <label for="media" class="col-form-label ">Media</label>
                </div>
                <div class=" col-sm-9 col-md-9 col-lg-9 ">
                  <input type="text" id="media" placeholder="" class="form-control   " [(ngModel)]="editOrderModel.media.value" name="media" readonly="readonly">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-3 col-md-3 col-lg-3 text-right">
                  <label for="subscriptionCategoryId" class="col-form-label ">Category</label>
                </div>
                <div class=" col-sm-2 col-md-2 col-lg-2 ">
                  <input type="text" id="subscriptionCategoryId" placeholder="" class="form-control   " [(ngModel)]="editOrderModel.subscriptionCategoryId.value"
                    name="subscriptionCategoryId" readonly="readonly">
                </div>
                <div class=" col-sm-7 col-md-7 col-lg-7 ">
                  <input type="text" id="subscriptionCategoryDescription" placeholder="" class="form-control   " [(ngModel)]="editOrderModel.subscriptionCategoryDescription.value"
                    name="subscriptionCategoryDescription" readonly="readonly">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-3 col-md-3 col-lg-3 text-right ">
                  <label for="rotation" class="col-form-label ">Rotation</label>
                </div>
                <div class=" col-sm-9 col-md-9 col-lg-9 ">
                  <input type="text" id="rotation" placeholder="" class="form-control   " name="rotation" [(ngModel)]="editOrderModel.rotation.value" readonly="readonly">
                </div>
              </div>
              <div class="form-row">
                <div class=" col-sm-3"></div>
                <div class=" col-sm-9 col-md-9 col-lg-9 ">

                  <!-- <label class="custom-control custom-checkbox mr-0">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="editOrderModel.hasBeenRenewed.value" readonly="readonly">
                    <span class="custom-control-label">Renewed </span>
                  </label> -->

                  <app-check-box label="Renewed" [(ngModel)]="editOrderModel.hasBeenRenewed.value" [disabled]="true"></app-check-box>

                </div>
              </div>
            </fieldset>
          </div>

          <div class="mt-3 float-left">
            <div class="border mt-4  p-2 pt-4  mt-sm-4 ">
              <fieldset>
                <legend class=" text-uppercase">Rate Card </legend>

                <div class="col-sm-12 float-left nopadding ">

                  <div class="form-group">
                    <input id="subscriptionDefDescription" name="subscriptionDefDescription" class="form-control" type="text" [(ngModel)]="editOrderModel.subscriptionDefDescription.value"
                      readonly="readonly">
                    <!-- <input type="date" class="form-control"
                      id="exampleFormControlInput1"> -->
                  </div>
                </div>

                <div class="col-sm-6 float-left  pl-0 ">

                  <div class="form-group">
                    <!-- <app-dropdown-with-description name="test" [basicSetting]="ddOptionsOperator" [data]="operatorData" (change)="OnRatedropdownChange($event)" [(ngModel)]="editOrderModel.rateClassEffectiveSeq ">
                    </app-dropdown-with-description> -->

                    <select class="form-control custom-select" name="rateClassDescription" [(ngModel)]="editOrderModel.rateClassEffectiveSeq.value" (change)="OnRatedropdownChange($event)">

                      <option *ngFor="let itm of RateClassEffective" value={{itm.rateClassEffectiveSeq}}>{{itm.description}}</option>

                    </select>
                  </div>
                </div>
                <div class="col-sm-6 float-right  pr-0 ">

                  <div class="form-group">
                    <input id="rateClassEffectiveDate" name="rateClassEffectiveDate" class="form-control" type="text" [(ngModel)]="editOrderModel.rateClassEffectiveDate.value"
                      readonly="readonly">

                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col-sm-8 nopadding">

          <div class=" col-sm-6 float-left">
            <div class="border mt-2  p-2 pt-4">
              <fieldset>
                <legend class=" text-uppercase">order</legend>
                <div class="form-row">
                  <div class="form-group col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="orderDate" class="col-form-label ">Date</label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 ">
                    <input id="orderDate" name="orderDate" class="form-control" type="text" [(ngModel)]="editOrderModel.orderDate.value" readonly="readonly">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="poNumber" class="col-form-label ">P.O.#</label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 ">
                    <input type="text" id="poNumber" placeholder="" class="form-control   " [(ngModel)]="editOrderModel.poNumber.value" name="poNumber" readonly="readonly">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="packageID" class="col-form-label ">Package</label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 ">
                    <input type="text" id="packageID" placeholder="" class="form-control   " [(ngModel)]="editOrderModel.packageID.value" name="packageID" readonly="readonly">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="agencyName" class="col-form-label ">Agency</label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 ">
                    <div class="input-group">
                      <input type="text" class="form-control rounded" aria-label="Text input with dropdown button" [(ngModel)]="editOrderModel.agencyName.value" name="agencyName"
                        readonly="readonly">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-primary ml-1 py-1" (click)="getAgencyListpopup()">...</button>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="form-row">
                  <div class="form-group col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="rotation" class="col-form-label ">Rotation</label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 ">
                    <input type="text" id="rotation" placeholder="" class="form-control" name="rotation" [(ngModel)]="editOrderModel.rotation.value" readonly="readonly">
                  </div>
                </div> -->
                <div class="form-row">
                  <div class=" col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="agencyRefNbr" class="col-form-label ">Agent Reference Nbr.</label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 ">
                    <input type="text" id="agencyRefNbr" placeholder="" class="form-control   " [(ngModel)]="editOrderModel.agencyRefNbr.value" name="agencyRefNbr">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="order_status" class="col-form-label ">Order Status
                    </label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 ">
                    <!-- <input type="text" id="order_status" placeholder="Order Placed" class="form-control   " [(ngModel)]="editOrderModel.order_status.value" name="order_status"> -->

                    <select class="form-control custom-select" [(ngModel)]="editOrderModel.orderStatus.value" name="orderStatus" disabled="">
                      <option value="">--select--</option>
                      <option value={{item.key}} *ngFor="let item of orderStatusData">{{item.display}}</option>

                    </select>

                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="payment_status" class="col-form-label ">Payment Status
                    </label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 text-right">
                    <!-- <input type="text" id="payment_status" placeholder="Paid" class="form-control   " [(ngModel)]="editOrderModel.payment_status.value" name="payment_status"> -->
                    <select class="form-control custom-select" [(ngModel)]="editOrderModel.paymentStatus.value" name="paymentStatus" disabled="">
                      <option value="">--select--</option>
                      <option value={{item.key}} *ngFor="let item of paymentStatusData">{{item.display}}</option>

                    </select>

                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-4 col-md-4 col-lg-4 text-right">
                    <label for="orderCategory" class="col-form-label ">Category</label>
                  </div>
                  <div class=" col-sm-8 col-md-8 col-lg-8 ">
                    <select class="form-control custom-select" [(ngModel)]="editOrderModel.orderCategory.value" name="orderCategory">
                      <option value="">--select--</option>
                      <option value={{item.order_category}} *ngFor="let item of order_Category">{{item.description}}</option>

                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class=" col-sm-6 float-right">
            <div class="border mt-2  p-2 pt-4">
              <fieldset>
                <legend class=" text-uppercase">Alternate Address</legend>
                <div class="form-row">
                  <div class="form-group col-sm-3 col-md-3 col-lg-3 ">
                    <label for="" class="col-form-label ">
                      <a href="" data-toggle="modal" data-target="#sendToAddress" (click)="getCustomerListpopup('Alternate')">
                        <i class="fa fa-angle-right"></i> Send To</a>
                    </label>
                  </div>
                  <div class=" col-sm-8 col-md-9 col-lg-9 ">
                    <!-- <input id="altShipCustomerId" name="altShipCustomerId" type="hidden" value="0">
                    <input id="altShipCustomerAddressSeq" name="altShipCustomerAddressSeq" type="hidden" [(ngModel)]="OrderItem.altShipCustomerAddressSeq"> -->
                    <input id="altFullNameTo" name="altFullNameTo" class="form-control " type="text" [(ngModel)]="editOrderModel.altFullNameTo.value" readonly="readonly">
                    <!-- <input type="text" id="fullNameTo" placeholder="" class="form-control   "> -->
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                      <input id="altCustomerAddress" name="altCustomerAddress" class="form-control rounded" type="text" [(ngModel)]="editOrderModel.altCustomerAddress.value"
                        readonly="readonly">
                      <div class="input-group-btn">
                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectSendToAddress">
                            ...
                          </button> -->

                        <button type="button" class="btn btn-primary ml-1 py-1" data-toggle="modal" (click)="getAddressListpopup('Alternate')">
                          ...
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class=" col-sm-12 nopadding mt-4">
              <div class="heading-border-right">
                <!-- <a href="#" data-toggle="modal" data-target="#renewaloption"> -->
                <i class="fa fa-angle-right"></i> Renewal Option
                <!-- </a> -->
              </div>
              <div class="border mt-2  p-2 pt-4  mt-sm-4 ">
                <fieldset>
                  <legend class=" text-uppercase">renewal</legend>
                  <div class="form-row">
                    <div class="form-group col-sm-4 col-md-4 col-lg-4 ">
                      <label for="renewFullNameTo" class="col-form-label ">
                        <a href="" data-toggle="modal" data-target="#renewToAddress" (click)="getCustomerListpopup('Renewal')">
                          <i class="fa fa-angle-right"></i> Renew To</a>
                      </label>
                    </div>
                    <div class=" col-sm-8 col-md-8 col-lg-8 ">
                      <!-- <input id="renewToCustomerId" name="renewToCustomerId" type="hidden" [(ngModel)]="OrderItem.renewToCustomerId">
                      <input id="renewToCustomerAddressSeq" name="renewToCustomerAddressSeq" type="hidden" [(ngModel)]="OrderItem.renewToCustomerAddressSeq"> -->

                      <input id="renewFullNameTo" name="renewFullNameTo" class="form-control" type="text" [(ngModel)]="editOrderModel.renewFullNameTo.value" readonly="readonly">
                      <!-- <input type="text" id="inputPassword6" placeholder="" class="form-control   "> -->
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 form-group">
                      <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="101 Half Moon Cir"> -->
                        <input id="renewToCustomerAddress" name="renewToCustomerAddress" class="form-control rounded" type="text" [(ngModel)]="editOrderModel.renewToCustomerAddress.value"
                          readonly="readonly">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-primary ml-1 py-1" data-toggle="modal" (click)="getAddressListpopup('Renewal')">
                            ...
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class=" col-sm-12 nopadding mt-4">
              <div class="heading-border-right">
                <!-- <a href="billing-option.html"> -->
                <i class="fa fa-angle-right"></i> Billing Option
                <!-- </a> -->
              </div>
              <div class="border mt-2  p-2 pt-4  mt-sm-4 ">
                <fieldset>
                  <legend class=" text-uppercase">Billing</legend>

                  <div class="form-row">
                    <div class="form-group col-sm-6 col-md-6 col-lg-6 ">
                      <input id="billDate" name="billDate" class="form-control" type="text" [(ngModel)]="editOrderModel.billDate.value">
                    </div>
                    <div class=" col-sm-6 col-md-6 col-lg-6 ">
                      <input type="text" id="billingType" placeholder="" disabled="" class="form-control " name="billingType" [(ngModel)]="editOrderModel.billingType.value">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-sm-3 col-md-3 col-lg-3 ">
                      <label for="billToFullName" class="col-form-label ">
                        <a href="" data-toggle="modal" data-target="#billToAddress" (click)="getCustomerListpopup('Billing')">
                          <i class="fa fa-angle-right"></i> Bill To</a>
                      </label>
                    </div>
                    <div class=" col-sm-8 col-md-9 col-lg-9 ">
                      <!-- <input id="billToCustomerId" name="billToCustomerId" type="hidden" [(ngModel)]="OrderItem.billToCustomerId">
                      <input id="billToCustomerAddressSeq" name="billToCustomerAddressSeq" type="hidden" [(ngModel)]="OrderItem.billToCustomerAddressSeq"> -->

                      <input id="billToFullName" name="billToFullName" class="form-control" type="text" [(ngModel)]="editOrderModel.billToFullName.value" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 form-group">
                      <div class="input-group">
                        <input id="addressBillTo" name="billToCustomerAddress" class="form-control rounded" type="text" [(ngModel)]="editOrderModel.billToCustomerAddress.value"
                          readonly="readonly">
                        <div class="input-group-btn">
                          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectBillToAddress">
                              ...
                            </button> -->

                          <button type="button" class="btn btn-primary py-1 ml-1" data-toggle="modal" (click)="getAddressListpopup('Billing')">
                            ...
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="form-check">
                    <label class="custom-control custom-checkbox mr-0">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]="editOrderModel.isProforma.value">

                      <span class="custom-control-label">Profroma</span>
                    </label>
                  </div> -->


                  <app-check-box label="Profroma" [(ngModel)]="editOrderModel.isProforma.value" [disabled]="editOrderModel.isProforma.value!=='1'" [Autoeventfire]="false"
                    (valueChange)="proformaChange($event)"></app-check-box>

                </fieldset>
              </div>
            </div>
          </div>

          <div class=" col-sm-12 float-left mt-3">


            <div class=" col-sm-12 nopadding mt-3">

              <div class="border mt-2  p-2 pt-4  mt-sm-4 ">
                <fieldset>
                  <legend class=" text-uppercase">Amounts</legend>


                  <div class="row">

                    <div class=" col-sm-8">

                      <table class="table border">

                        <thead>
                          <tr>
                            <th>

                              <!-- <input type="hidden" id="priceId" value="0.0">-->Change For</th>
                            <th>Local Amount</th>
                            <th>Base Amount</th>
                            <th>&nbsp;</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="">

                            <td>Order Item</td>
                            <td>
                              <div class="dropdown">
                                <div class="cursor-pntr" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <label id="netlocalLbl"> {{editOrderModel.localAmount.value}}</label>
                                </div>
                                <div class="dropdown-menu arrow_box" aria-labelledby="dropdownMenuButton">

                                  <div class=" p-3">
                                    <div class="form-group row">
                                      <label for="inputPassword" class="col-sm-4 col-form-label">Net</label>
                                      <div class="col-sm-8">
                                        {{editOrderModel.netLocalAmount.value }}
                                      </div>
                                    </div>


                                    <div class="form-group row">
                                      <label for="inputPassword" class="col-sm-4 col-form-label">Gross</label>
                                      <div class="col-sm-8">
                                        {{editOrderModel.grossLocalAmount.value}}
                                      </div>
                                    </div>

                                    <div class="form-group row">
                                      <label for="inputPassword" class="col-sm-4 col-form-label">Tax</label>
                                      <div class="col-sm-8">
                                        {{editOrderModel.totalTaxLocalAmount.value}}
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>


                              <label id="grosslocalLbl">{{editOrderModel.baseAmount.value}}</label>

                            </td>
                            <td>
                              <div class="dropdown">
                                <div class="cursor-pntr" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-ellipsis-v text-primary"></i>

                                </div>
                                <div class="dropdown-menu arrow_box" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#" data-toggle="modal" (click)="changeorderamountpopup()">Change Amount
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#" data-toggle="modal" (click)="applydicountpopup()">Apply Discount
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <!--Tax row start  -->
                          <tr class="" *ngIf="isIncludeTax">

                            <td>Tax</td>
                            <td>
                              <div class="dropdown">
                                <div class="cursor-pntr" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <label id="netlocalLbl"> {{editOrderModel.totalTaxLocalAmount.value}}</label>
                                </div>
                                <div class="dropdown-menu arrow_box" aria-labelledby="dropdownMenuButton">

                                  <div class=" p-3">
                                    <div class="form-group row">
                                      <label for="inputPassword" class="col-sm-4 col-form-label">Net</label>
                                      <div class="col-sm-8">
                                        {{editOrderModel.netLocalAmount.value }}
                                      </div>
                                    </div>


                                    <div class="form-group row">
                                      <label for="inputPassword" class="col-sm-4 col-form-label">Gross</label>
                                      <div class="col-sm-8">
                                        {{editOrderModel.grossLocalAmount.value}}
                                      </div>
                                    </div>

                                    <div class="form-group row">
                                      <label for="inputPassword" class="col-sm-4 col-form-label">Tax</label>
                                      <div class="col-sm-8">
                                        {{editOrderModel.totalTaxLocalAmount.value}}
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <!-- <div class="cursor-pntr" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">120.00</div> -->

                              <label id="grosslocalLbl"> {{editOrderModel.totalTaxBaseAmount.value}}</label>

                            </td>
                            <td></td>

                          </tr>
                          <!--Tax row end  -->



                          <tr class="" *ngIf="isCommition">

                            <td>Commission</td>
                            <td>{{editOrderModel.localCommission.value}}</td>
                            <td>{{editOrderModel.baseCommission.value}}</td>
                            <td>&nbsp;</td>
                          </tr>


                        </tbody>

                      </table>

                    </div>

                    <div class=" col-sm-4 ">
                      <div class="form-group">
                        <label for="currency">Currency</label>
                        <input id="currency" name="currency" class="form-control" type="text" [(ngModel)]="editOrderModel.currency.value" readonly="readonly">

                      </div>

                      <div class="form-group">
                        <label for="discount">Discount</label>
                        <input type="text" class="form-control" id="discount" [(ngModel)]="editOrderModel.discount.value" name="discount" readonly="readonly">
                      </div>

                      <!-- <div class="form-check">
                        <label class="custom-control custom-checkbox mr-0"> -->

                      <app-check-box label="Include Tax" [(ngModel)]="editOrderModel.hasTax.value" (valueChange)="Includetaxchange($event)" [Autoeventfire]="false"></app-check-box>


                      <!-- <input type="checkbox" class="custom-control-input" [(ngModel)]="editOrderModel.hasTax.value" (click)="Includetaxchange($event)">
                          <span class="custom-control-label">Include Tax</span> -->
                      <!-- </label>
                      </div> -->
                    </div>


                  </div>
                </fieldset>
              </div>
            </div>


          </div>


          <div class=" col-sm-6 float-left mt-3 nopadding">


            <div class=" col-sm-12  mt-3">

              <div class="border mt-2  p-2 pt-4  mt-sm-4 ">
                <fieldset>
                  <legend class=" text-uppercase">Invoicing </legend>

                  <div class="col-sm-5 float-left nopadding ">

                    <div class="form-group">
                      <label for="invoiceDate">Invoice Date</label>
                      <input id="invoiceDate" name="invoiceDate" class="form-control" type="text" [(ngModel)]="editOrderModel.invoiceDate.value">
                    </div>
                  </div>


                  <div class="col-sm-6 float-right nopadding ">

                    <div class="form-group">
                      <label for="invoiceNo">Invoice Number
                      </label>
                      <input type="text" class="form-control" id="invoiceNo" placeholder="" [(ngModel)]="editOrderModel.invoiceNo.value" name="invoiceNo" readonly="readonly">
                    </div>
                  </div>





                </fieldset>
              </div>
            </div>


          </div>

          <div class=" col-sm-6 float-left mt-3 nopadding">


            <div class=" col-sm-12  mt-3">

              <div class="border mt-2  p-2 pt-4  mt-sm-4 ">
                <fieldset>
                  <legend class=" text-uppercase">Trail Subscription</legend>
                  <div class="col-sm-5 float-left nopadding ">
                    <div class="form-group">
                      <label for="trialType">Trial Type</label>
                      <input type="text" class="form-control" id="trialType" placeholder="" [(ngModel)]="editOrderModel.trialType.value" name="trialType" readonly="readonly">
                    </div>
                  </div>
                  <div class="col-sm-6 float-right nopadding ">

                    <div class="form-group">
                      <label for="exampleFormControlInput1"># Of Issues</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" readonly="readonly">
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>


          </div>

        </div>

      </div>
      <div class="row mt-3 mb-3 text-right ">

        <div class="col-sm-12">
          <div class="note-footer-btn">
            <!-- <a href="customer-Order.html" class="btn btn-light"> <i
              class="fa fa-chevron-left"></i> Back to Orders
            </a>  -->&nbsp;
            <!-- <a href="demographics.html" class="btn btn-dark">
              <i class="fa fa-area-chart"></i> Demographic
            </a> &nbsp; -->
            <!-- <button type="button" class="btn btn-dark">
              <i class="fa fa-info-circle"></i> Audit Info
            </button> -->
            &nbsp;
            <button type="submit" class="btn btn-primary" (click)="updateOrder()" data-dismiss="modal">
              <i class="fa fa-floppy-o"></i> Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-custom-modal-pop-up [basicSetting]="addnewpopupCustomerSetting" [template]="customersearch"></app-custom-modal-pop-up>

<ng-template #customersearch>
  <app-customer-search (getCustomerClick)="getCustomer($event)"></app-customer-search>

</ng-template>
<app-custom-modal-pop-up [basicSetting]="addnewpopupAddresSetting" [template]="address"></app-custom-modal-pop-up>

<ng-template #address>
  <app-address [inputCustomerId]="addressCustomerID" [orderCodeId]="orderCodeId" (getAddressClick)="getAddress($event)"></app-address>

</ng-template>

<app-custom-modal-pop-up [basicSetting]="addnewpopupAgencyListSetting" [template]="agencylist"></app-custom-modal-pop-up>

<ng-template #agencylist>
  <app-agency-list (getAgencyClick)="getAgency($event)"></app-agency-list>

</ng-template>


<app-custom-modal-pop-up [basicSetting]="addnewpopupsubsdefSetting" [template]="subsdeflist"></app-custom-modal-pop-up>

<ng-template #subsdeflist>
  <app-subscription-def-list [orderCodeId]="editOrderModel.orderCodeID.value" [orderCodeType]="editOrderModel.orderCodeType.value" [customerId]="editOrderModel.customerId.value"
    (getsubsdefCodeClick)="getsubsdefCode($event)"></app-subscription-def-list>

</ng-template>

<app-custom-modal-pop-up [basicSetting]="addnewpopupChangeAmountSetting" [template]="changeamount"></app-custom-modal-pop-up>

<ng-template #changeamount>
  <app-change-amount (getchangeamount)="onChangeAmount($event)" [orderitemprice]="editOrderModel.localAmount.value" [deliverycharge]=""></app-change-amount>

</ng-template>

<app-custom-modal-pop-up [basicSetting]="addnewpopupDiscountSetting" [template]="discounts"></app-custom-modal-pop-up>

<ng-template #discounts>
  <app-discounts (getdiscounts)="ondiscounts($event)" [localAmt]="discountLocalAmount" [currency]="editOrderModel.currency.value"></app-discounts>

</ng-template>

<app-custom-modal-pop-up [basicSetting]="addnewpopupPaymentthresoldSetting" [template]="paymenthresold"></app-custom-modal-pop-up>

<ng-template #paymenthresold>
  <app-payment-threshold-handling [customerId]="customerId" [orderId]="orderhdrId"></app-payment-threshold-handling>

</ng-template>

<app-custom-modal-pop-up [basicSetting]="addnewpopupSourceSetting" [template]="addSourcecode"></app-custom-modal-pop-up>

<ng-template #addSourcecode>
  <app-source-code-lookup [ocId]="editOrderModel.ocId.value" (getSourceCodeClick)="getSourceCode($event)"></app-source-code-lookup>

</ng-template>
