<div class="row justify-content-between align-items-center ">
  <div class="col-md-4">
    <h4>Add Customer</h4>
  </div>
  <div class="col-md-4 text-right">
  </div>
</div>
<hr>
<form class="form-horizontal" submit="SubmitCustomer()" #baseForm="ngForm">
  <div class="row">
    <div class="col-md-6 nopadding pt-4">
      <div class=" col-md-12 ">
        <div class="border mt-2  p-2 pt-4">
          <fieldset>
            <legend class=" text-uppercase">CUSTOMER DETAIL</legend>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="user">Salutation</label>
                <input name="salutation" [(ngModel)]="addCustomerModel.salutation.value" type="text" class="form-control" value="" maxlength="15">
              </div>
              <div class="form-group col-md-3">
                <label for="user">First Name</label>
                <input name="fName" type="text" [(ngModel)]="addCustomerModel.fName.value" class="form-control" value="" maxlength="40">
              </div>
              <div class="form-group col-md-2">
                <label for="user">Initial</label>
                <input name="initial" [(ngModel)]="addCustomerModel.initial.value" type="text" class="form-control" value="" maxlength="40">
              </div>
              <div class="form-group col-md-3">
                <label for="user">Last Name</label>
                <input name="lName" [(ngModel)]="addCustomerModel.lName.value" type="text" class="form-control" value="" maxlength="40">
              </div>
              <div class="form-group col-md-2">
                <label for="user">Suffix</label>
                <input name="suffix" [(ngModel)]="addCustomerModel.suffix.value" type="text" class="form-control" value="" maxlength="5">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="border mt-2  p-2 pt-4">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="user">Title</label>
              <input name="title" [(ngModel)]="addCustomerModel.title.value" type="text" class="form-control" value="" maxlength="150">
            </div>
            <div class="form-group col-md-6">
              <label for="user"> Company</label>
              <input name="company" [(ngModel)]="addCustomerModel.company.value" type="text" class="form-control" value="" maxlength="80">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="user">Department</label>
              <input name="department" [(ngModel)]="addCustomerModel.department.value" type="text" class="form-control" value="" maxlength="80">
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="user"> Address 1</label>
              <input name="address1" [(ngModel)]="addCustomerModel.address1.value" type="text" class="form-control" value="" maxlength="80">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="user"> Address 2</label>
              <input name="address2" [(ngModel)]="addCustomerModel.address2.value" type="text" class="form-control" value="" maxlength="80">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="user"> Address 3</label>
              <input name="address3" [(ngModel)]="addCustomerModel.address3.value" type="text" class="form-control" value="" maxlength="80">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="user">City
                <font color="red"> * </font>
              </label>
              <input name="city" [(ngModel)]="addCustomerModel.city.value" type="text" class="form-control" required maxlength="50" validator-ui
                vRequired="City is Required">
            </div>
            <div class="form-group col-md-6">
              <label for="user">State
                <font color="red "> * </font>
              </label>
              <app-select name="test" [Data]="ddOptionsStateData" [(ngModel)]="addCustomerModel.state.value" (change)="stateChange($event)"
                validator-ui vRequired="State is Required">
              </app-select>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="user">Zip/Postal</label>
              <input name="zip" [(ngModel)]="addCustomerModel.zip.value" type="text" class="form-control" value="" maxlength="15">
            </div>
            <div class="form-group col-md-3">
              <label for="user">Country</label>
              <input name="country" type="text" [(ngModel)]="addCustomerModel.country.value" class="form-control" readonly="readonly" value="">
            </div>
            <div class="form-group col-md-3">
              <label for="user">County</label>
              <input name="county" [(ngModel)]="addCustomerModel.county.value" type="text" class="form-control" value="" maxlength="25">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="user"> Phone 1</label>
              <!-- <input name="phone1" [(ngModel)]="addCustomerModel.phone1.value" type="text" class="form-control" value="" maxlength="50"> -->
              <input [(ngModel)]="addCustomerModel.phone1.value" name="phone1" type="text" class="form-control" [textMask]="{mask: mask}"
                pattern="\+\d \(\d{3}\) \d{3}-\d{5}" />
            </div>
            <div class="form-group col-md-6">
              <label for="user"> Phone 2 </label>
              <!-- <input name="phone2" [(ngModel)]="addCustomerModel.phone2.value" type="text" class="form-control" value="" maxlength="50"> -->
              <input [(ngModel)]="addCustomerModel.phone2.value" name="phone2" type="text" class="form-control" [textMask]="{mask: mask}"
                pattern="\+\d \(\d{3}\) \d{3}-\d{5}" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="user">Fax</label>
              <input name="fax" [(ngModel)]="addCustomerModel.fax.value" type="text" class="form-control" value="" maxlength="50">
            </div>
            <div class="form-group col-md-6">
              <label for="user">E-mail</label>
              <input name="email" [(ngModel)]="addCustomerModel.email.value" type="text" class="form-control" validator-ui vEmail="Invalid Email">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="user">Address Type
                <font color="red"> * </font>
              </label>
              <app-select name="addressType" [(ngModel)]="addCustomerModel.addressType.value" [Data]="ddOptionsAddressTypeData " validator-ui
                vRequired="Address Type is Required">
              </app-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 nopadding pt-4 " style="z-index:1 ">
      <div class="col-md-12 ">
        <div class="border mt-2 p-2 pt-4 ">
          <div class="form-row ">
            <div class="form-group col-md-6 ">
              <label for="user">Tax ID</label>
              <input name="taxID" [(ngModel)]="addCustomerModel.taxID.value" [disabled]="taxIDFiels" type="text" class="form-control" maxlength="15">
            </div>
            <div class="form-group col-md-6 ">
              <label for="user ">Special Tax ID </label>
              <app-select name="specialTaxId " (remove)="removeTextBoxValue()" (change)="SpecialTaxIDEvent($event)" [(ngModel)]="addCustomerModel.specialTaxId.value"
                [Data]="ddOptionsSpecialTaxIDData ">
              </app-select>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-6 ">
              <label for="user ">List Rental
                <font color="red "> * </font>
              </label>
              <app-select name="listRental " [(ngModel)]="addCustomerModel.listRental.value " [Data]="ddOptionsListRentalData " validator-ui
                vRequired="List Rental is Required">
              </app-select>
            </div>
            <div class="form-group col-md-6 ">
              <label for="user ">Customer Category</label>
              <app-select name="customerCategory " [(ngModel)]="addCustomerModel.customerCategory.value " [Data]="ddOptionsCustomerCategoryData ">
              </app-select>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-6 ">
              <label for="user ">Sales</label>
              <app-select name="Sales " [(ngModel)]="addCustomerModel.sales.value" [Data]="ddOptionsSalesData ">
              </app-select>
            </div>
            <div class="form-group col-md-6 ">
              <label for="user "> Address Status
                <font color="red "> * </font>
              </label>
              <app-select name="addressStatus " [(ngModel)]="addCustomerModel.addressStatus.value" [Data]="ddOptionsAddressStatusData "
                validator-ui vRequired="Address Status is Required">
              </app-select>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-6 ">
              <label for="user ">Credit Status
                <font color="red "> * </font>
              </label>
              <app-select name="creditStatus " [(ngModel)]="addCustomerModel.creditStatus.value" [Data]="ddOptionsCreditStatusData " validator-ui
                vRequired="Credit Status is Required">
              </app-select>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-6 ">
              <label for="user ">Institutional Identifier</label>
              <input [(ngModel)]="addCustomerModel.institutionalIdentifier.value " name="institutionalIdentifier " type="text " class="form-control "
                value=" " maxlength="80 ">
            </div>
            <div class="form-group col-md-6 ">
              <label for="user ">Parent Inst. Identifier</label>
              <input [(ngModel)]="addCustomerModel.parentInstitutionalIdentifier.value" name="parentInstitutionalIdentifier " type="text "
                class="form-control " maxlength="15 ">
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-12 ">
              <div class="form-check ">
                <div data-children=".item ">

                  <div class="item ">
                    <div class="accordianBorderBlock ">
                      <label class="custom-control custom-checkbox d-inline active ">
                        <input id="isAgency1" name="isAgency" [(ngModel)]="addCustomerModel.isAgency.value" class="custom-control-input" type="checkbox"
                          [(ngModel)]="addCustomerModel.isAgency.value" (click)="agencyArrowClick()">
                        <span class="custom-control-label "></span>
                      </label>
                      <label for="exampleFormControlTextarea1 ">
                        <a (click)="agencyArrowClick() " class="collapsed "> Is Agency
                          <i class="fa fa-chevron-down groupIcon " aria-hidden="true "></i>
                        </a>
                      </label>
                    </div>
                    <div *ngIf="addCustomerModel.isAgency.value " class=" AccContent " role="tabpanel ">
                      <div class="form-row ">
                        <div class="form-group col-md-6 ">
                          <label for="user ">Agency Codes
                            <font color="red "> * </font>
                          </label>
                          <input name="agencyCode" [(ngModel)]="addAgecyModel.agencyCode.value" type="text " class="form-control " value=" " maxlength="15 "
                            validator-ui vRequired="Agency Code is Required">
                        </div>
                      </div>
                      <div class="form-row ">
                        <div class="form-group col-md-6 ">
                          <label for="user ">Agency Name</label>
                          <input name="agencyName" [(ngModel)]="addAgecyModel.agencyName.value" type="text " class="form-control " value=" " maxlength="80 ">
                        </div>
                        <div class="form-group col-md-6 ">
                          <label for="user ">Payment Thershold</label>
                          <app-select name="paymentThershold" [(ngModel)]="addCustomerModel.paymentThershold.value" [Data]="ddOptionsPaymentThersholdData">
                          </app-select>
                        </div>
                      </div>
                      <div class="form-row ">
                        <div class="col-md-12 ">
                          <app-check-box [label]="'Bundle Discounts'" name="bundleDiscount" [(ngModel)]="addAgecyModel.bundleDiscount.value"></app-check-box>
                        </div>
                      </div>
                      <div class="form-row ">
                        <div class="col-md-12 ">
                          <app-check-box [label]="'Agency Is Renew To'" name="isRenewTo" [(ngModel)]="addAgecyModel.isRenewTo.value"></app-check-box>

                        </div>
                      </div>
                      <div class="form-row ">
                        <div class="col-md-6 ">
                          <app-check-box [label]="'Agency Is Bill To'" name="isBillTo" [(ngModel)]="addAgecyModel.isBillTo.value"></app-check-box>
                        </div>
                        <div class="col-md-6 ">
                          <label for="user "> Change tax based on </label>
                        </div>
                      </div>
                      <div class="form-row ">
                        <div class="col-md-6 form-group ">
                          <app-check-box [label]="'Agency pay Tax'" (valueChange)="changeTaxPayedOnGrossValue($event)" name="agencyPayTax" [(ngModel)]="addAgecyModel.agencyPayTax.value"></app-check-box>
                        </div>
                        <div class="col-md-6 ">
                          <div class="form-row ">
                            <div class="col-md-3 ">
                              <div class="form-check form-check-inline ">
                                <label class="custom-control custom-radio ">
                                  <input name="taxPayedOnGross" class="custom-control-input" type="radio" value="0" checked="checked" [(ngModel)]="taxPayedOnGross"
                                    [disabled]="addAgecyModel.agencyPayTax.value === 1">
                                  <span class="custom-control-label">Net</span>
                                </label>
                              </div>
                            </div>
                            <div class="col-md-3 pl-5 ">
                              <div class="form-check form-check-inline ">
                                <label class="custom-control custom-radio ">
                                  <input id="taxPayedOnGross2" [(ngModel)]="taxPayedOnGross" name="taxPayedOnGross" class="custom-control-input" type="radio"
                                    value="1" [disabled]="addAgecyModel.agencyPayTax.value === 1">
                                  <span class="  custom-control-label">Gross</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row ">
                        <div class="form-group col-md-6 ">
                          <label for="user ">New Order Commission</label>
                          <input id="newOrderCommission" [(ngModel)]="addAgecyModel.newOrderCommission.value" name="newOrderCommission" type="text"
                            class="form-control" value="" maxlength="7">
                        </div>
                        <div class="form-group col-md-6 ">
                          <label for="user "> Renewal Commission</label>
                          <input id="renewalCommission" name="renewalCommission" [(ngModel)]="addAgecyModel.renewalCommission.value" type="text" class="form-control"
                            value="" maxlength="7">
                        </div>
                      </div>
                      <div class="form-row ">
                        <div class="col-md-6 form-group ">


                          <div class="form-check form-check-inline ">
                            <label class="custom-control custom-radio ">
                              <input id="remits" name="remits" class="custom-control-input" type="radio" value="0" [(ngModel)]="addAgecyModel.remits.value">
                              <span class="  custom-control-label">Pay Commission To Agency</span>
                            </label>
                          </div>


                        </div>
                        <div class="col-md-6 form-group ">
                          <div class="form-check form-check-inline ">
                            <label class="custom-control custom-radio ">
                              <input id="remits" name="remits" class="custom-control-input" type="radio" value="1" [(ngModel)]="addAgecyModel.remits.value">
                              <span class="  custom-control-label">Agency Remits Net Payment</span>
                            </label>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 text-right my-3 ">
      <button (click)="resetButton() " type="reset" class="btn btn-light ">
        <i class="fa fa-refresh " aria-hidden="true "></i> Reset
      </button>&nbsp;&nbsp;
      <button type="submit" (click)="SubmitCustomer()" class="btn btn-primary ">
        <i class="fa fa-floppy-o "></i> Save </button>
    </div>
  </div>
</form>


<app-custom-modal-pop-up [basicSetting]="duplicateCustomerListSetting" [template]="duplicateCustomerTemplate"></app-custom-modal-pop-up>

<ng-template #duplicateCustomerTemplate>
  <div class="row">
    <div class="col">
      <div class="agGridSize">
        <app-ag-grid [extraOption]="customerExtraOption" [myGridOptions]="customergridOptions" (myGridReady)="doOnGridReadyDulicateCustomer($event)"></app-ag-grid>
      </div>
      <div class="col-md-12 text-right my-3">
        <button type="submit" id="saveEdit" (click)="addContinue()" class="btn btn-primary ">
          <i class="fa fa-plus"></i> Save Continue </button>
      </div>
    </div>
  </div>
</ng-template>
