<section class="container-fluid my-3 custRow ">
  <my-tabs #staticTabs>
    <my-tab tabTitle="Description" [tabId]="LABEL_DESCRIPTION_REPORT">
      <div class="whiteBg tabContent">
        <form name="form" #f="ngForm" ngNativeValidate>
          <!-- <div class="col-12"> -->

          <fieldset>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="user">Main Purpose</label>
                  <input type="text" class="form-control" placeholder="Label">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="user">Description
                    <span class="mandatory"> *</span>
                  </label>
                  <input class="form-control" [(ngModel)]="description1" #description name="description1" id="description" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group ">
                  <label for="user">Default Job Priority</label>
                  <input type="text" class="form-control" placeholder=" ">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group ">
                  <label for="user">Extract Filter</label>
                  <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting">
                  </app-dropdown-with-description>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="user">Default Job Queue</label>
                  <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting6">
                  </app-dropdown-with-description>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="user">Output Sort</label>
                  <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting">
                  </app-dropdown-with-description>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="user">SQL Script</label>
                  <input type="text" class="form-control" placeholder=" ">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-check form-check-inline">
                  <label class="custom-control custom-checkbox mr-0">
                    <input type="checkbox" class="custom-control-input">

                    <span class="  custom-control-label">Hold For Manual Select</span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="custom-control custom-checkbox ">
                    <input type="checkbox" class="custom-control-input" checked>

                    <span class="  custom-control-label">Active</span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" #repeatingCheckbox (click)="repeatCheckBoxClick()" class="custom-control-input" data-toggle="modal" data-target="#repeating">

                    <span class="  custom-control-label">Repeating</span>
                  </label>
                </div>



              </div>
              <div class="col-md-8">
                <app-process-repeating [is_edit]="!is_edit"></app-process-repeating>
              </div>
            </div>
          </fieldset>

          <!-- </div> -->


          <div class="row pt-3">
            <div class="col-12">
              <div class="border mt-4 p-2 pt-4">
                <fieldset>
                  <legend class="text-uppercase">Also Include </legend>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-check form-check-inline ">
                        <label class="custom-control custom-checkbox ">
                          <input type="checkbox" class="custom-control-input " disabled="">
                          <span class="custom-control-indicator "></span>
                          <span class="  custom-control-label ">Audit</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-check form-check-inline ">
                        <label class="custom-control custom-checkbox ">
                          <input type="checkbox" #inserts (click)="openInsertTab()" class="custom-control-input ">
                          <span class="custom-control-indicator "></span>
                          <span class="  custom-control-label ">Inserts</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-check form-check-inline">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" #splits class="custom-control-input" (click)="openSplitsTab()">

                          <span class="  custom-control-label">Splits</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-check form-check-inline">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" #renewal class="custom-control-input" (click)="openRenewalsTab()">

                          <span class="  custom-control-label">Renewals</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-check form-check-inline">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" #billing (click)="openBiilingTab()" class="custom-control-input">

                          <span class="  custom-control-label">Billing</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-check form-check-inline">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" disabled="">

                          <span class="  custom-control-label">Installment</span>
                        </label>
                      </div>
                    </div>
                    <!-- <div class="row"> -->
                    <div class="col-md-3">
                      <div class="form-check form-check-inline">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" #autoRenewal class="custom-control-input" (click)="Checked($event)">

                          <span class="  custom-control-label">Auto Renewals</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="user">Auto Renewal Days:
                          <span class="mandatory">*</span>
                        </label>
                        <!-- <div class="col-3 pl-0"> -->
                        <input [disabled]="!is_edit1" type="number" min="0" step=" 1 " class="form-control " placeholder="Select The No of Days " [(ngModel)]="notification1 " onkeypress='return event.charCode >= 48 && event.charCode <= 57' title="Numbers only" #notification
                          name="notification " id="notification " required>
                        <!-- </div> -->
                      </div>
                    </div>

                    <!-- </div> -->

                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-12">
              <div class="border mt-4 p-2 pt-4">
                <fieldset>
                  <legend class="text-uppercase">Order Class (es) Included</legend>
                  <div class="row justify-content-between align-items-center ">
                    <div class="col-md-6 ">
                      <div class="d-flex flex-row align-items-center ">
                        <div class="p-2 ">Order Class</div>
                        <div class="col-3 p-2">
                          <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting2" disabled>
                          </app-dropdown-with-description>
                        </div>
                        <div class="pt-3 ">
                          <div class="form-check form-check-inline">
                            <label class="custom-control custom-checkbox mr-0">
                              <input type="checkbox" class="custom-control-input">

                              <span class="  custom-control-label">Include All</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="d-flex flex-row-reverse align-items-center ">

                        <div class=" col-3 p-2 ">
                          <app-dropdown-with-description name="test" [(ngModel)]="dropDown" (change)="setFilterModel($event)" [basicSetting]="basicSetting1">
                          </app-dropdown-with-description>

                        </div>
                        <div class="p-2 ">Show :</div>
                      </div>
                      <div class="clearfix "></div>
                    </div>
                    <div class="col-md-12">
                      <div class="agGridSize">
                        <app-ag-grid [name]="'LableReports'" [myGridOptions]="gridOptionsReports" (myGridReady)="doOnGridReadyLabelReports($event)"></app-ag-grid>
                      </div>
                    </div>
                  </div>

                </fieldset>

              </div>

            </div>
          </div>
          <div class="row pt-3">
            <div class="col-12">
              <div class="border mt-4 p-2 pt-4">
                <fieldset>
                  <legend class="text-uppercase">Label Format Attributes</legend>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group ">
                        <label for="user">Length</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group ">
                        <label for="user">Group</label>

                        <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting4">
                        </app-dropdown-with-description>
                        <!-- <option>default Label Group</option>
                          <option> </option> -->
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group ">
                        <label for="user">Keyline</label>
                        <!-- <select class="form-control custom-select">

                          <option>keyline</option>
                          <option> </option>
                        </select> -->
                        <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting5">
                        </app-dropdown-with-description>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-6">
              <div class="row">
                <div class="col-md-5">
                  <div class="border mt-4 p-2 pt-4">
                    <fieldset>
                      <legend class="text-uppercase">Gracing</legend>
                      <div class="form-check ">
                        <label class="custom-control custom-checkbox ">
                          <input type="checkbox" class="custom-control-input ">

                          <span class="  custom-control-label">Gracing New Expires</span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label class="custom-control custom-checkbox ">
                          <input type="checkbox" class="custom-control-input ">

                          <span class="  custom-control-label"> Serve Current Graces</span>
                        </label>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class=" col-md-7 pt-4 mt-4">

                  <div class="row">
                    <div class="col-6 p-0 pr-2">
                      <div class="form-group ">
                        <label for="user">Bundle Threshold</label>
                        <input type="text" class="form-control" placeholder=" ">
                      </div>
                    </div>
                    <div class="col-6 p-0 pl-2">
                      <div class="form-group ">
                        <label for="user">DD Days Passed for Pulls</label>
                        <input type="text" class="form-control" placeholder=" " disabled="">
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>
            <div class="col-6">
              <div class="border mt-4 p-2 pt-4">
                <fieldset>
                  <legend class="text-uppercase">Inventory</legend>
                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group ">
                        <label for="user">Priority Sort</label>
                        <input type="text" class="form-control" placeholder=" " disabled="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group ">
                        <label for="user"> </label>
                        <input type="text" class="form-control" placeholder=" " disabled="">
                      </div>
                    </div>

                    <div class="col-md-4 pt-4">
                      <div class="form-check pt-2">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input " disabled="">
                          <span class="custom-control-indicator disabled"></span>
                          <span class="  custom-control-label disabled">Picklist</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </form>

      </div>
      <app-process-edit-footer [form]="f" (onDoSave)=doOnSave($event)></app-process-edit-footer>
    </my-tab>

    <my-tab tabTitle="Output" [tabId]="LABEL_OUTPUT_REPORT">
      <app-output></app-output>
    </my-tab>


    <ng-template #biilingTemplate>
      <app-billing></app-billing>
    </ng-template>

    <ng-template #insertsTemplate>
      <app-installment></app-installment>
    </ng-template>


    <ng-template #renewalsTemplate>
      <app-renewal-tab></app-renewal-tab>
    </ng-template>


    <ng-template #splitsTemplate>
      <app-installment></app-installment>
    </ng-template>



  </my-tabs>
</section>
