<section class="container-fluid my-3 custRow ">
  <div class="row">
    <div class="whiteBg tabContent">
      <form class="form-control" name="form" #f="ngForm" ngNativeValidate>
          <h4>Accounting Reconciliation</h4>
          <hr>
          <div class="border m-1 p-2 pt-4 mt-4">
            <fieldset>
              <legend class="text-uppercase">Description</legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="user">Main Purpose</label>
                    <input type="text" class="form-control" placeholder="Accounting Reconciliation">
                  </div>
                </div>
                <!-- <div class="col-md-4">
                <div class="form-group">
                  <label for="user">ID</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div> -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="user">Description
                      <span class="mandatory">*</span>
                    </label>
                    <input class="form-control" [(ngModel)]="description1" #description name="description1" id="description" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group ">
                    <label for="user">Default Job Priority</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="user">Default Job Queue</label>
                    <select class="form-control custom-select">
                      <option>auto</option>
                      <option> </option>

                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <label class="custom-control custom-checkbox ">
                      <input type="checkbox" class="custom-control-input">
                        
                      <span class="  custom-control-label">Active</span>
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        


        <div class="row pt-3">
          <div class="col-12">
            <div class="border m-1 p-2 pt-4">
              <fieldset>
                <legend class="text-uppercase">Profit Center Included</legend>
                <div class="row align-items-center ">
                  <div class="col-md-12">
                    <div class="d-flex flex-row-reverse align-items-center ">
                      <div class=" col-2 p-2 ">
                        <select class="form-control custom-select">
                          <option>All</option>
                          <option>Selected Only</option>
                        </select>
                      </div>
                      <div class="p-2 ">Show :</div>
                    </div>
                    <div class="clearfix "></div>
                  </div>
                  <div class="col-md-12 ">
                  </div>
                </div>
                <div class="agGridSize">
                  <app-ag-grid [name]="'AuditGalleryReports'" (myGridReady)="doOnGridReadyAccountingReports($event)"></app-ag-grid>
                </div>
              </fieldset>
            </div>
          </div>
        </div>


        <div class="row pt-3">
          <div class="col-6">
            <div class="border m-1 p-2 pt-4">
              <div class="col-12">
                <div class="form-group row">
                  <label for="inputPassword3" class="col-4 pr-0 pl-0 col-form-label">Work Directory</label>
                  <div class="col-sm-8 ">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-primary">
                          ...
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-6">
            <div class="border m-1 p-2 pt-4">
              <div class="form-check form-check-inline pt-2">
                <label class="custom-control custom-checkbox ">
                  <input type="checkbox" class="custom-control-input">
                    
                  <span class="  custom-control-label">Save Detail</span>
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="custom-control custom-checkbox ">
                  <input type="checkbox" class="custom-control-input">
                    
                  <span class="  custom-control-label">Update galley tables</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
      <app-process-edit-footer [form]="f" (onDoSave)=doOnSave($event)></app-process-edit-footer>
    </div>
  </div>
</section>
