<form #baseForm="ngForm"></form>
<section class="container-fluid my-3 custRow">
  <div class="row">
    <div class="col-md-12">
      <div class="whiteBg tabContent active_link topArrow usrtoparrowPos3">
        <div class="col-md-4">
          <h4 id="addCustomerHeading">Agency</h4>
        </div>
        <hr>
        <div class="row pt-2">
          <div class=" col-sm-12 ">
            <form #f1="ngForm" (ngSubmit)="f1.form.valid && onSearch(f1)" class="form-horizontal" novalidate>
              <div class="form-row ">
                <div class="form-group col-md-4">
                  <label for="agencyCode">Agency</label>
                  <input name="agencyCode" type="text" class="form-control" [(ngModel)]="agencyModel.agencyCode.value" required #first="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="company">Company</label>
                  <input name="company" [(ngModel)]="agencyModel.company.value" type="text" class="form-control " maxlength="80">
                </div>
                <div class="form-group col-md-4">
                  <label for="customerId">Customer Number</label>
                  <input name="customerId" [(ngModel)]="agencyModel.customerId.value" type="text" class="form-control">
                </div>
              </div>
              <div class="row ">
                <div class="form-group col-md-12 text-right mt-4">
                  <div class="right popup-border-btn col-md-12 ">
                    <button type="button" class="btn btn-light " (click)="resetForm()">
                      <i class="fa fa-refresh " aria-hidden="true "></i> Reset</button>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary " (click)="SearchAgency()">
                      <i class="fa fa-search " aria-hidden="true "></i> Search Agency</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" (click)="addAgency()">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add Agency</button>
                  </div>
                  <hr>
                </div>
              </div>
              <div>
              </div>
            </form>
          </div>
          <div class="col-12 pt-3">
            <div class="agGridSize">
              <app-ag-grid [extraOption]="agencyExtraOption" [myGridOptions]="agencygridOptions" (myGridReady)="doOnGridReadyAgency($event)"></app-ag-grid>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3 ">
        <div class="col-sm-12">
          <div class="note-footer-btn text-right">

          </div>
        </div>
        <div class="modal fade " id="addAgencyModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel">
        </div>
      </div>
    </div>
  </div>
</section>



<app-custom-modal-pop-up [AlertType]="AlertType " [basicSetting]="editAgencybasicSetting " [template]="EditAgencyTemplate ">
</app-custom-modal-pop-up>

<ng-template #EditAgencyTemplate>
  <div class="modal-body">
    <div class=" col-sm-12 ">
      <form class="form-horizontal" name="form">
        <div class="form-row text-left">
          <div class="form-group col-md-6">
            <label for="agencyCode">Agency Code</label>
            <input id="agencyCodeEdit" name="agencyCode" type="text" class="form-control" [(ngModel)]="editAgencyModel.agencyCode.value"
              maxlength="15">
          </div>
          <div class="form-group col-md-6">
            <label for="customerId">Customer Id</label>
            <input id="customerIdEdit" name="customerId" type="text " class="form-control " readonly="readonly" [(ngModel)]="editAgencyModel.customerId.value">
          </div>

          <div class="form-group col-md-6">
            <label for="agencyName">Agency Name</label>
            <input id="agencyName" name="company" type="text" class="form-control" [(ngModel)]="editAgencyModel.company.value" maxlength="80">
          </div>
          <div class="form-group col-md-6">
            <label for="paymentThershold">Payment Threshold</label>
            <select name="paymentThershold" [(ngModel)]="editAgencyModel.paymentThershold.value" class="form-control">
              <option value="">---Select---</option>
              <option [value]="paymentThershold.key" *ngFor="let paymentThershold of EditpaymentThersholdList">{{paymentThershold.display}}</option>
            </select>
            <!-- <app-dropdown-with-description name="test" [(ngModel)]="editAgencyModel.paymentThershold.value" [Data]="EditpaymentThersholdList">
            </app-dropdown-with-description> -->
          </div>
          <div class="form-group col-md-6">
            <app-check-box [label]="'Bundle Discounts'" name="bundleDiscount" [(ngModel)]="editAgencyModel.bundleDiscount.value"></app-check-box>
            <app-check-box [label]="'Agency is Renew to'" name="isRenewTo" [(ngModel)]="editAgencyModel.isRenewTo.value"></app-check-box>
          </div>
          <div class="form-group col-md-6">
            <app-check-box [label]="'Agency is Bill to'" name="isBillTo" [(ngModel)]="editAgencyModel.isBillTo.value"></app-check-box>
            <app-check-box [label]="'Agency Pays Tax'" name="agencyPayTax" (valueChange)="changeEditTaxPayedOnGrossValue($event)" [(ngModel)]="editAgencyModel.agencyPayTax.value"></app-check-box>
          </div>
        </div>
        <div class="form-group  mt-3">
          <div class="border m-1 p-2 pt-4">
            <fieldset>
              <legend>Charge tax based on</legend>
              <div class="form-group col-md-12 text-left" *ngIf="editAgencyModel.agencyPayTax.value === '1'; else changetaxbase">
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                  <input id="taxPayedOnGross1" name="taxPayedOnGross" disabled class="custom-control-input" type="radio" value="0">
                  <span class="custom-control-label">Net</span>
                </label>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                  <input id="taxPayedOnGross2" disabled name="taxPayedOnGross" class="custom-control-input" type="radio" value="1">
                  <span class="custom-control-label">Gross</span>
                </label>
              </div>
              <ng-template #changetaxbase>
                <div class="form-group col-md-12 text-left">
                  <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input id="taxPayedOnGross1" name="taxPayedOnGross" [(ngModel)]="edittaxPayedOnGross" class="custom-control-input" type="radio"
                      value="0">
                    <span class="custom-control-label">Net</span>
                  </label>
                  <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                    <input id="taxPayedOnGross2" name="taxPayedOnGross" [(ngModel)]="edittaxPayedOnGross" class="custom-control-input" type="radio"
                      value="1">
                    <span class="custom-control-label">Gross</span>
                  </label>
                </div>
              </ng-template>
            </fieldset>
          </div>
        </div>
        <div class="form-group  mt-4">
          <div class="border m-1 mt-3 p-2 pt-4 text-left">
            <fieldset>
              <legend>Commission</legend>
              <div class="form-group col-md-6 float-left">
                <label for="newOrderCommission">New Order Commission</label>
                <input id="newOrderCommission" name="newOrderCommission" type="text" class="form-control" [(ngModel)]="editAgencyModel.newOrderCommission.value"
                  maxlength="7">
              </div>
              <div class="form-group col-md-6 float-left">
                <label for="renewalCommission">Renewal Commission</label>
                <input id="renewalCommission" name="renewalCommission" type="text" class="form-control" [(ngModel)]="editAgencyModel.renewalCommission.value"
                  maxlength="7">
              </div>
              <div class="form-group col-md-12 text-left float-left">
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                  <input id="remitsPayCommission" name="remits" class="custom-control-input" type="radio" [(ngModel)]="editAgencyModel.remits.value"
                    value="0">

                  <span class="custom-control-label">Pay Commission to Agency</span>
                </label>
                <label class="custom-control custom-radio mb-2 mr-sm-2 mb-sm-0">
                  <input id="remitsAgency" name="remits" class="custom-control-input" type="radio" [(ngModel)]="editAgencyModel.remits.value"
                    value="1">
                  <span class="custom-control-label">Agency Remits Net Payment</span>
                </label>
              </div>
            </fieldset>
          </div>
        </div>
        <p class="text-right">
          <button type="submit" (click)="EditAgencyDetails()" class="btn btn-primary">Update</button>
        </p>
        <div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
