<section class="container-fluid my-3 custRow ">

  <ul class="nav nav-tabs custTabs">
    <li class="nav-item" routerLinkActive="active" *ngFor=" let route of  this.constSer.routePath.AGENCY_DETAILS">
      <a class='nav-link' routerLinkActive="active" [routerLink]="route.path" href="javascript:;">
        <span> {{route.label}} </span>
      </a>
    </li>
  </ul>

  <router-outlet></router-outlet>

  <!-- <my-tabs #staticTabs [selectTabName]="selectTabName">

    <my-tab tabTitle="Customer" [tabId]="CUSTOMER_REPORTS">
      <app-customer (openTab)="setSelectedTab($event)"></app-customer>
    </my-tab>

    <my-tab tabTitle="Order" [tabId]="ORDER_REPORTS">
      <app-order></app-order>
    </my-tab>


    <my-tab tabTitle="Payments" [tabId]="PAYMENT_REPORTS">
      <app-payments></app-payments>
    </my-tab>
    <my-tab tabTitle="Attachment" [tabId]="ATTACHMENT_REPORTS">
      <app-attachment></app-attachment>
    </my-tab>

    <my-tab tabTitle="Customer History" [tabId]="CUSTOER_HISTORY_REPORTS">
      <app-customer-history></app-customer-history>

    </my-tab>

    <my-tab tabTitle="Notes" [tabId]="NOTES_REPORTS">
      <app-notes></app-notes>
    </my-tab>


  </my-tabs> -->

  <!-- <ng-template #custaddorder>
    <div class="col-md-12 nopadding">
      <div class="panel ">
        <div class="panel-body">
          <app-add-order #addorder></app-add-order>
        </div>
      </div>
    </div>
  </ng-template> -->

</section>
