<section class="container-fluid my-3 custRow ">
  <div class="row ">
    <div class="col-12">
      <form name="form" #f="ngForm" ngNativeValidate>
        <div class="whiteBg tabContent">


          <h4>Auto-Renewal Notify</h4>
          <hr>
          <div class="border p-2 pt-4 mt-4">
            <fieldset>
              <legend class="text-uppercase">Description</legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="user">Main Purpose</label>
                    <input type="text" class="form-control" placeholder="Auto-Renewal Notify" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="user">Description
                      <span class="mandatory"> *</span>
                    </label>
                    <input class="form-control" [(ngModel)]="description1" #description name="description1" id="description" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group ">
                    <label for="user">Default Job Priority</label>
                    <input type="text" class="form-control" placeholder=" ">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group ">
                    <label for="user">Extract Filter</label>
                    <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting">
                    </app-dropdown-with-description>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="user">Default Job Queue</label>
                    <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting4">
                    </app-dropdown-with-description>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-check form-check-inline">
                    <label class="custom-control custom-checkbox ">
                      <input type="checkbox" class="custom-control-input" checked>

                      <span class="  custom-control-label">Active</span>
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="custom-control custom-checkbox ">
                      <input #repeatingCheckBox (click)="repeatingCheckBoxClick($event)" type="checkbox" class="custom-control-input">

                      <span class="  custom-control-label">Repeating</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-8">
                  <app-process-repeating [is_edit]="!is_edit"></app-process-repeating>
                </div>
              </div>
            </fieldset>
          </div>




          <div class="row">
            <div class="col-12">
              <div class="border mt-4 p-2 pt-4">
                <fieldset>
                  <legend class="text-uppercase">Order Class (es) Included</legend>
                  <!-- <div class="row justify-content-between align-items-center "> -->
                  <div class="row">
                    <div class="col-md-6 ">
                      <div class="d-flex flex-row align-items-center ">
                        <div class="p-2 ">Order Class</div>
                        <div class="col-3 p-2">
                          <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting2">
                          </app-dropdown-with-description>
                        </div>
                        <div class="pt-3 ">
                          <div class="form-check form-check-inline">
                            <label class="custom-control custom-checkbox mr-0">
                              <input type="checkbox" class="custom-control-input">

                              <span class="  custom-control-label">Include All</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="d-flex flex-row-reverse align-items-center ">

                        <div class=" col-3 p-2 ">
                          <app-dropdown-with-description name="test" [(ngModel)]="dropDown" [basicSetting]="basicSetting1" (change)="setFilterModel($event)">
                          </app-dropdown-with-description>

                        </div>
                        <div class="p-2 ">Show :</div>
                      </div>
                      <div class="clearfix "></div>
                    </div>
                    <div class="col-md-12">
                      <div class="agGridSize">
                        <app-ag-grid [name]="'AutoRenewalReports'" [myGridOptions]="gridOptionsReports" (myGridReady)="doOnGridReadyAutoRenewalReports($event)"></app-ag-grid>
                      </div>
                    </div>
                  </div>
                  <!-- 
                      </div> -->
                </fieldset>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12">

              <div class="border mt-4 p-2 pt-4">
                <fieldset>
                  <legend class="text-uppercase">When to send notification</legend>
                  <div class="row">

                    <div class="col-md-12">
                      <div class="form-group row ">
                        <label for="inputEmail3" class="col-3 col-form-label">Send Notifiction
                          <span class="mandatory"> *</span>
                        </label>
                        <div class="col-3 pl-0">
                          <input type="number" min="0" step=" 1 " class="form-control " placeholder="Select The No of Days " [(ngModel)]="notification1 " onkeypress='return event.charCode >= 48 && event.charCode <= 57' title="Numbers only" #notification name="notification " id="notification "
                            required>
                        </div>
                        <label for="notification " class="col-6 col-form-label ">days prior to order expiration.</label>
                      </div>
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-md-12">
        <app-process-edit-footer class="row" [form]="f" (onDoSave)=doOnSave($event)></app-process-edit-footer>
      </div>
    </div>




  </div>
</section>
