@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  outline: none;
  border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  margin: 0;
  padding: 0;
}

/*==================commong css================*/

body {
  background-color: #ecebec;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

button,
button:focus {
  outline: none;
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #f3f0e9
}

.table-info,
.table-info>th,
.table-info>td {
  background-color: #f2fafc;
}

.table td {
  padding: 0.50rem 0.75rem;
}

.form-control {
  font-size: 0.875rem;
  padding: 0.215rem .75rem;
}

.custom-select {
  padding: .215rem 1.75rem .215rem .75rem;
  height: calc(1.80rem + 2px);
}

.form-group {
  margin-bottom: 10px;
}

.col-form-label {
  line-height: 1.2;
}

select.form-control {
  padding: 0.215rem .75rem;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(1.80rem + 2px);
}

.btn {
  font-size: 0.875rem;
}

.nopadding {
  padding: 0;
}

.grayBg {
  background-color: #f5f5f5;
}

.whiteBg {
  background-color: #fff;
}

.custRow {
  width: 100%;
  float: left;
}

.mh450 {
  min-height: 450px;
}

header {
  background: #fff;
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

.custNav {
  list-style: none;
  float: left;
  margin: 8px 0 0 0;
  padding: 0;
}

.custNav li {
  float: left;
  margin-right: 20px;
}

.custNav li a {
  color: #616161
}

.custNav li a:hover {
  text-decoration: none;
}

.thinkLogo {
  margin-top: 5px;
}

.rightNav {
  list-style: none;
  float: right;
  margin: 15px 0 0 0;
  padding: 0;
}

.rightNav li {
  float: left;
  margin-left: 20px;
}

.rightNav li a {
  color: #616161;
  text-decoration: none;
}

.rightNav li a.close {
  color: #ff0000
}

.leftPipe {
  position: relative
}

.leftPipe:before {
  content: ' ';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #cbcbcb;
  left: -10px;
  top: 0;
}

.topMainNav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topMainNav li {
  float: left;
  padding: 0px 13px
}

.topMainNav li:first-child {
  padding-left: 0;
}

.topMainNav li a {
  text-decoration: none;
  color: #939393
}

.toolbarBtn {
  color: #cbcbcb;
  padding-top: 13px;
  display: block;
  font-size: 16px;
}

.toolbarBtn:hover {
  text-decoration: none;
}

.tabContent {
  padding: 20px;
}

.nav-tabs>li>a {
  background: #00a5e7;
  background-image: -webkit-linear-gradient(top, #00a5e7, #007ad3);
  background-image: -moz-linear-gradient(top, #00a5e7, #007ad3);
  background-image: -ms-linear-gradient(top, #00a5e7, #007ad3);
  background-image: -o-linear-gradient(top, #00a5e7, #007ad3);
  background-image: linear-gradient(to bottom, #00a5e7, #007ad3);
  color: #fff;
}

.nav-tabs>li.active>a {
  background: #fff;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  background: #fff;
  border-bottom-color: transparent;
  color: #070707;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-image: none;
}

.icons {
  float: left;
  width: 36px;
  height: 36px;
  background-image: url(../images/iconSprite_customer.png);
  background-repeat: no-repeat;
}

.icons:hover {
  text-decoration: none;
}

.icon1 {
  background-position: -35px -6px;
}

.icon2 {
  background-position: -88px -6px;
}

.icon3 {
  background-position: -147px -6px;
}

.icon4 {
  background-position: -209px -6px;
}

.icon5 {
  background-position: -270px -6px;
}

.icon6 {
  background-position: -330px -6px;
}

.icon7 {
  background-position: -390px -6px;
}

.icon8 {
  background-position: -445px -6px;
}

.icon9 {
  background-position: -505px -6px;
}

.icon10 {
  background-position: -560px -6px;
}

.icon11 {
  background-position: -630px -6px;
}

.icon12 {
  background-position: -688px -6px;
}

.icon13 {
  background-position: -734px -8px;
}

.icon14 {
  background-position: -775px -8px;
}

.icon15 {
  background-position: -814px -8px;
}

.icon1:hover,
.icon1.active {
  background-position: -35px -46px;
}

.icon2:hover,
.icon2.active {
  background-position: -88px -46px;
}

.icon3:hover,
.icon3.active {
  background-position: -147px -46px;
}

.icon4:hover,
.icon4.active {
  background-position: -209px -46px;
}

.icon5:hover,
.icon5.active {
  background-position: -270px -46px;
}

.icon6:hover,
.icon6.active {
  background-position: -330px -46px;
}

.icon7:hover,
.icon7.active {
  background-position: -390px -46px;
}

.icon8:hover,
.icon8.active {
  background-position: -445px -46px;
}

.icon9:hover,
.icon9.active {
  background-position: -505px -46px;
}

.icon10:hover,
.icon10.active {
  background-position: -560px -46px;
}

.icon11:hover,
.icon11.active {
  background-position: -630px -46px;
}

.icon12:hover,
.icon12.active {
  background-position: -688px -46px;
}

.icon13:hover,
.icon13.active {
  background-position: -734px -47px;
}

.icon14:hover,
.icon14.active {
  background-position: -775px -47px;
}

.icon15:hover,
.icon15.active {
  background-position: -814px -47px;
}

.nav-tabs .nav-item {
  margin-right: 2px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #fff;
}

.tabHeading {
  font-weight: 400;
  color: #4a4a4a;
  border-bottom: 1px solid #d8e2e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.backBtn {
  font-size: 14px;
  margin-top: 5px;
}

.formBorder {
  border: 1px solid #acaeae;
}

.pad10 {
  padding: 10px;
}

.custRow {
  width: 100%;
  float: left;
}

.borderBtm {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

fieldset legend {
  background-color: #4a4a4a;
  padding: 0px 5px 1px 5px;
  color: #fff;
  width: auto;
  font-size: 11px;
  margin-top: -33px;
  margin-left: 0;
  position: absolute;
}

.table thead {
  background-color: #50586b;
  color: white;
  white-space: nowrap;
}

.optionMenu.dropdown>#dropdownMenuButton {
  padding: 3px 10px;
  text-decoration: none;
  font-weight: 600;
}

.optionMenu.dropdown.show>#dropdownMenuButton {
  background-color: #f7f5f5;
  color: #656565;
  padding: 5px 10px;
}

.optionMenu .dropdown-menu {
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.09);
  background-color: #f7f5f5;
  right: -165px;
  left: auto !important;
  margin-top: -1px;
  border: none;
}

.listMenu {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.listMenu li {
  color: #656565;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0px;
}

.listMenu li a {
  color: #656565;
  text-decoration: none;
  line-height: 22px;
  font-size: 14px;
}

.listMenu li a:hover {
  color: #252525
}

.listMenu li:before {
  position: absolute;
  left: 0;
  top: 0px;
  content: '\f105';
  font-family: FontAwesome;
  font-size: 17px;
}

.listMenu .disabled {
  color: #a0a0a0;
}

.listMenu .disabled a {
  color: #a0a0a0;
  font-style: italic;
  pointer-events: none;
  cursor: default;
}

.overflowX {
  overflow-x: auto;
}

.crossIcon {
  color: #fff;
  position: absolute;
  right: 5px;
  top: -23px;
  opacity: 1;
  font-size: 17px;
  font-weight: normal;
}

.crossIcon:hover,
.crossIcon:focus {
  color: #fff !important;
}

#login {
  background: #0072cf;
}

#login header {
  background: #fff;
}

#login footer {
  background: #fff;
  padding: 5px 0;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  z-index: 9;
}

.loginBox {
  border: 1px solid #338ed8;
  width: 100%;
  float: left;
  padding: 2%;
  position: relative;
}

.loginHeading {
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  position: absolute;
  left: -15px;
  top: -28px;
  width: 290px;
  height: 125px;
  background-color: #0072cf;
  font-weight: bold;
  z-index: 1;
}

.headingLinkLeft {
  right: 25px !important;
  margin-top: -6px !important;
}

.loginHeading:before {
  width: 28px;
  height: 1px;
  background-color: #338ed8;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}

.loginHeading:after {
  width: 1px;
  height: 38px;
  background-color: #338ed8;
  content: '';
  position: absolute;
  right: 0;
  top: 10px;
}

.loginBgHeading {
  line-height: 4.7rem;
  font-size: 6.5em;
  color: #fff;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  left: -10px;
  top: -56px;
  opacity: 0.1;
  letter-spacing: 3px;
  z-index: 2;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #28a745;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 0px #fff, 0 0 0 0px #0275d8;
  box-shadow: 0 0 0 0px #fff, 0 0 0 0px #0275d8;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 0% 0% 0% 97%;
  font-size: 54px;
  color: #fff;
  text-align: center;
  background: #22314e;
  position: absolute;
  right: 0;
  top: 0;
  padding: 35px 39px 13px 39px;
  line-height: 40px;
}

.circle span {
  display: block;
  font-size: 14px;
  color: #7a8394
}

.topMainNav .active {
  position: relative;
}

.usrtoparrowPos:after,
.usrtoparrowPos:before {
  left: 145px !important;
}

.usrtoparrowPos2:after,
.usrtoparrowPos2:before {
  left: 210px !important;
}

.usrtoparrowPos3:after,
.usrtoparrowPos3:before {
  left: 275px !important;
}

.usrtoparrowPos4:after,
.usrtoparrowPos4:before {
  left: 410px !important;
}

.usrtoparrowPos7:after,
.usrtoparrowPos7:before {
  left: 604px !important;
}

.usrtoparrowPos7:after,
.usrtoparrowPos7:before {
  left: 604px !important;
}

.topMainNav .active:after,
.topMainNav .active:before {
  bottom: 100%;
  border: solid transparent;
  left: 10px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  bottom: -16px;
}

.topMainNav .active:after {
  border-color: transparent;
  border-bottom-color: #ecebec;
  border-width: 15px;
  margin-left: -15px;
}

.topMainNav .active:before {
  /* border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
 */
  border-width: 16px;
  margin-left: -16px;
}

.btn-light {
  border: 1px solid #dcdcdc;
  color: #9b9b9b;
}

.item .AccContent {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#exampleAccordion .item {
  position: relative;
  clear: both;
}

#exampleAccordion .item:before {
  width: 100%;
  content: '';
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 10px;
  z-index: -1;
  left: 0;
}

.accordianBorderBlock {
  background: #fff;
  padding-right: 15px;
  float: left;
}

#exampleAccordion .item label .groupIcon {
  position: absolute;
  right: 0;
  background: #fff;
  top: 0;
  padding: 3px 0px 0 20px;
}

.dropdown-divider {
  margin: 0;
}

.multiASelect .dropdown-menu.show {
  padding: 10px;
  transform: initial !important;
  top: 100% !important;
  width: 100%;
}

.multiASelect .multiselect,
.multiASelect .btn-group {
  width: 100% !important;
  text-align: left;
}

.multiASelect .dropdown-toggle:after {
  right: 10px;
  position: absolute;
  top: 14px;
}

.tree,
.tree ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.tree ul {
  margin-left: 1em;
  position: relative
}

.tree ul ul {
  margin-left: .5em
}

.tree ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid
}

.tree li {
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  color: #369;
  font-weight: 700;
  position: relative
}

.tree ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 1em;
  left: 0
}

.tree ul li:last-child:before {
  background: #fff;
  height: auto;
  top: 1em;
  bottom: 0
}

.indicator {
  margin-right: 5px;
}

.tree li a {
  text-decoration: none;
  color: #369;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
  text-decoration: none;
  color: #369;
  border: none;
  background: transparent;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  outline: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

/* Css by Ashwani Srivastava  */

/* AS Css start*/

.heading-border {
  background-color: #fff;
  padding: 4px 10px 4px 0px;
  width: auto;
  font-weight: 600;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
}

.heading-border-right {
  background-color: #fff;
  padding: 4px;
  width: auto;
  font-weight: 600;
  font-size: 14px;
  margin-top: -15px;
  margin-left: 0px;
  position: absolute;
  right: 6px;
}

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  top: 6px !important;
  left: -20px !important;
}

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.arrow_box:before {
  border-color: rgba(217, 217, 217, 0);
  border-bottom-color: #d9d9d9;
  border-width: 11px;
  margin-left: -11px;
}

.cursor-pntr {
  cursor: pointer;
}

.popup-border-btn {
  padding: 4px;
  width: auto;
  font-weight: 600;
  font-size: 14px;
  margin-top: -7px;
  margin-left: 0px;
  position: absolute;
  right: 6px;
}

/* Css END by Ashwani Srivastava  */

.custom-file-control:before {
  content: "Browse";
}

.custom-file-control:after {
  content: "Add files..";
}

a.disabled {
  pointer-events: none;
  color: #ccc;
}

.modal-xlg {
  max-width: 980px;
}

.form-inline label {
  margin-right: 10px;
}

.btn {
  cursor: pointer;
}

.table th {
  font-weight: normal
}

.table td {
  padding: 4px 10px !important;
  line-height: 18px;
  vertical-align: middle;
}

.table.dataTable tbody th,
table.dataTable tbody td {
  padding: 4px 10px !important;
  line-height: 18px;
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_paginate .paginate_button.current:hover {
  background: none !important;
  padding: 0px 6px;
  border-color: #979797 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #0075bf !important;
  padding: 0px 6px;
  border-color: #27709e !important;
  color: #333 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px 6px !important;
  background: none !important;
  color: #333 !important;
}

table.dataTable thead th,
table.dataTable thead td {
  font-weight: normal !important;
}

.table-info,
.table-info>th,
.table-info>td {
  background-color: #9b9b9b !important;
  color: #fff !important;
}

.table-hover .table-info:hover,
.table-striped tbody tr:nth-of-type(2n+1):hover,
.table-hover tbody tr:hover {
  background-color: #d7d7d7 !important;
}

.dataTables_paginate .previous,
.dataTables_paginate .next {
  text-indent: -9999px;
  position: relative;
  display: inline-block
}

.dataTables_paginate .previous:before {
  content: '\f100';
  text-indent: 0;
  position: absolute;
  left: 5px;
  font-family: FontAwesome;
}

.dataTables_paginate .next:before {
  content: '\f101';
  text-indent: 0;
  position: absolute;
  right: 5px;
  font-family: FontAwesome;
}

.custAlert {
  position: fixed;
  top: 0;
  z-index: 9;
  left: 0;
  right: 0;
  padding: .25rem 1.25rem;
  text-align: center;
  border-radius: 0;
}

.alert-success {
  background: rgba(106, 204, 67, 1);
  background: -moz-linear-gradient(top, rgba(106, 204, 67, 1) 0%, rgba(56, 135, 11, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(106, 204, 67, 1)), color-stop(100%, rgba(56, 135, 11, 1)));
  background: -webkit-linear-gradient(top, rgba(106, 204, 67, 1) 0%, rgba(56, 135, 11, 1) 100%);
  background: -o-linear-gradient(top, rgba(106, 204, 67, 1) 0%, rgba(56, 135, 11, 1) 100%);
  background: -ms-linear-gradient(top, rgba(106, 204, 67, 1) 0%, rgba(56, 135, 11, 1) 100%);
  background: linear-gradient(to bottom, rgba(106, 204, 67, 1) 0%, rgba(56, 135, 11, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6acc43', endColorstr='#38870b', GradientType=0);
  color: #fff;
}

.alert-danger {
  background: rgba(227, 9, 60, 1);
  background: -moz-linear-gradient(top, rgba(227, 9, 60, 1) 0%, rgba(204, 10, 56, 1) 44%, rgba(145, 7, 35, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227, 9, 60, 1)), color-stop(44%, rgba(204, 10, 56, 1)), color-stop(100%, rgba(145, 7, 35, 1)));
  background: -webkit-linear-gradient(top, rgba(227, 9, 60, 1) 0%, rgba(204, 10, 56, 1) 44%, rgba(145, 7, 35, 1) 100%);
  background: -o-linear-gradient(top, rgba(227, 9, 60, 1) 0%, rgba(204, 10, 56, 1) 44%, rgba(145, 7, 35, 1) 100%);
  background: -ms-linear-gradient(top, rgba(227, 9, 60, 1) 0%, rgba(204, 10, 56, 1) 44%, rgba(145, 7, 35, 1) 100%);
  background: linear-gradient(to bottom, rgba(227, 9, 60, 1) 0%, rgba(204, 10, 56, 1) 44%, rgba(145, 7, 35, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3093c', endColorstr='#910723', GradientType=0);
  color: #fff;
}

.overTxt {
  width: 270px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-lg {
  max-width: 980px;
}

.centerBox {
  max-width: 1140px;
  margin: 0 auto;
}

#login .form-control {
  padding: 0.575rem .75rem;
}

.loginIcon {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.loginForm {
  padding-top: 170px;
}

#loginform {
  margin: 150px 0 0 0;
}

.agGridSize {
  width: 100%;
  height: 402px;
  white-space: nowrap;
}

/* .agGridSize1 {
  width: 100%;
  height: 172px;
  white-space: nowrap;
} */

.slimScrollDiv {
  background: #fdfdfd;
  padding: 0px 10px 10px 10px;
  border: 1px solid #f1f1f1;
  borx-shadow: unset;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.dropdownCls {
  position: absolute;
  z-index: 9999;
  width: 100%;
  left: 0;
  right: 0;
}

app-dropdown-with-description {
  display: block;
  width: 100%;
}

.ag-theme-balham .ag-header {
  background-color: #50586B;
  border-bottom: 1px solid #676864;
  color: #fff;
  font-size: 14px;
}

.ag-theme-balham .ag-row-odd {
  background-color: #f3f0e9;
}

.ag-theme-balham .ag-row-even {
  background-color: #fff;
}

.ag-theme-balham .ag-row-selected {
  border-bottom-color: #70754c;
  background: #e6e7dd;
}

.ag-theme-balham .ag-paging-panel {
  border-top: 0px;
}

.sub-menu-parent {
  position: relative;
}

.sub-menu a img {
  border-bottom: 1px solid #fff;
}

.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 1px;
  width: 100%;
  transform: translateY(-2em);
  z-index: 2;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.ag-blue .ag-ltr .ag-header-cell {
  border-right: 1px solid #e9ecef;
}

.ag-blue .ag-header {
  background: #50586B;
  border-bottom: 1px solid #e9ecef;
}

.ag-blue .ag-cell-focus {
  border: 2px solid #e9ecef;
}

.ag-blue .ag-root {
  border: 1px solid #e9ecef;
}

.ag-blue .ag-ltr .ag-cell-no-focus {
  border-right: 1px dotted #e9ecef;
  border-left: 2px solid transparent;
}

.ag-blue .ag-cell-no-focus {
  border-top: 2px solid transparent;
  border-bottom: 1px dotted #e9ecef;
}

.ag-blue .ag-row-odd {
  background-color: #f3f0e9;
}

.ag-blue .ag-paging-row-summary-panel {
  margin-top: 10px;
}

.ag-blue .ag-cell-not-inline-editing {
  font-size: 15px;
}

.ag-blue .ag-header {
  font-size: 16px;
  font-weight: 400;
}

.pagination .page-link:focus,
.pagination .page-link:hover {
  border: 0 !important;
}

.custDropdown button {
  text-align: left;
  background: transparent;
  line-height: 1.3;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custDropdown button::after {
  position: absolute;
  right: 5px;
  top: 15px;
}

.custDropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 2px 10px;
  border-bottom: 1px solid #f2f2f2;
  white-space: normal;
}

.custDropdown .dropdown-menu .dropdown-item span span:first-child {
  display: none !important;
}
