<section class="container-fluid my-3 custRow ">
  <div class="row ">
    <div class="col-md-12">
      <div class="whiteBg tabContent">
        <div class="row">
          <div class="col-12">
            <h4>Billing</h4>
            <hr>
          </div>
        </div>
        <div class="agGridSize">
          <app-ag-grid [name]="'OutputReports'" [myGridOptions]="gridOptionsReports" (myGridReady)="doOnGridReadyOutputReports($event)"></app-ag-grid>
        </div>
      </div>
      <div class="col-12 text-right my-3">
        <a [routerLink]="['/pages/cleanup_add']" class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i> Add New..</a>
      </div>
    </div>
  </div>
</section>



<!-- 

<section class="container-fluid my-3 custRow ">
  <div class="row ">
    <div class="col-md-12">
      <div class="whiteBg tabContent">
        <div class="row">
          <div class="col-12">
            <h4>Cleanup</h4>
            <hr>
          </div>
        </div>
        <table class="table table-striped  border mt-3">
          <thead>
            <tr>
              <th></th>
              <th>Code</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-check m-0">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">

                    <span class="  custom-control-label"></span>
                  </label>
                </div>
              </td>
              <td>Address corr</td>
              <td>Address corr</td>
              <td>
                <div class="dropdown">
                  <div class="cursor-pntr" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-primary"></i>
                  </div>
                  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-example-modal-lg">Edit </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#renew-subs">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check m-0">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">

                    <span class="  custom-control-label"></span>
                  </label>
                </div>
              </td>
              <td>Aedittrl</td>
              <td>Auto Edit Trail Cleanup Def - All</td>
              <td>
                <div class="dropdown">
                  <div class="cursor-pntr" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-primary"></i>
                  </div>
                  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-example-modal-lg">Edit </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#renew-subs">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check m-0">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">

                    <span class="  custom-control-label"></span>
                  </label>
                </div>
              </td>
              <td>ASTRSTOP</td>
              <td>Auto Start Stop Cleanup Def-2</td>
              <td>
                <div class="dropdown">
                  <div class="cursor-pntr" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-primary"></i>
                  </div>
                  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-example-modal-lg">Edit </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#renew-subs">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 text-right my-3">
      <a (click)="openAddNew()" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Add New..</a>
    </div>
  </div>
</section> -->
