<form name="form" #f="ngForm">
  <div class="border mt-2  p-2 pt-4">
    <div class="form-row">
      <div class="form-group col-md-6">
        Note Type :
        <input id="noteType" [(ngModel)]="addNotesModel.noteFilter.value" name="noteType" style="border: none" readonly>
      </div>
      <div class="form-group col-md-6">
        User Code :
        <input type="text" [(ngModel)]="addNotesModel.userCode.value" style="border: none" name="usercode" readonly>
      </div>
    </div>
    <div *ngIf='show'>
      <div class="form-row">
        Record
        <font color="red"> * </font>
        <div class="form-group col-md-10">
          <app-dropdown-with-description *ngIf="resetScope" name="test" [(ngModel)]="addNotesModel.record.value" [Data]="ddOptionsNotesData"
            required>
          </app-dropdown-with-description>
        </div>
      </div>
    </div>
    <div class="form-row ">
      <div class="col-md-12">
        <label for="note"> Note
          <font color="red"> * </font>
        </label>
        <textarea id="note" [(ngModel)]="addNotesModel.note.value" name="note" style="width:100%; resize:none" class="form-control"
          rows="5" required></textarea>
      </div>
    </div>
  </div>
</form>
<div class="col-md-12 text-right my-3">
  <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="doOnSubmit()" [disabled]="!f.form.valid">
    <i class="fa fa-floppy-o"></i> Add</button>
</div>
