<div class="whiteBg tabContent">

  <div class="border mt-4 p-2 pt-4">
    <fieldset>
      <legend class="text-uppercase">Billing Definition</legend>
      <div class="agGridSize">
        <app-ag-grid [name]="'BillingDefinitionReports'" [myGridOptions]="gridOptionsReports" (myGridReady)="doOnGridReadyBillingDefinitionReports($event)"></app-ag-grid>
      </div>
    </fieldset>
  </div>
  <div class="row">
    <div class="col-6 pt-3">
      <div class="col-md-4">
        <div class="form-check ">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input ">
            <span class="custom-control-indicator disabled"></span>
            <span class="  custom-control-label disabled">Include All</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
